//Variables
$primary-green: #1f8d84;
$yellow: #F4E54A;
$nav-gray-hover: #eee;
$lightyellow: #FFFFE0;
$gray: rgba(119, 119, 119, 1);
$dark-green: #114C48;
$red: #D9553F;

.full-width {
  width: 100%;
}

body {
  background-color: $nav-gray-hover;
}
hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}
header {
  color: #fff;
  .container-fluid {
      background-color: $primary-green;
      padding-top: 1.5em;
      address {
        strong {
          font-size: 2em;
          letter-spacing: 1px;
        }
      }
      nav{
        text-transform: uppercase;
        margin: 0px;
        background-color: $yellow;
        ul {
          list-style: none;
        }
      }
      nav.navbar-default .navbar-brand {
        color: $gray;
      }
      nav.navbar-default {
        font-size: 16px;
        font-weight: 600;
        background-color: $yellow;
        border-width: 0px;
        border-radius: 0px;
      }
      nav.navbar-default .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
      }
      nav.navbar-default .navbar-nav > li{
        color: red;
      }
      nav.navbar-default .navbar-nav>li>a {
        font-stretch: expanded;
        background-color: rgba(248, 248, 248, 0);
        line-height: 37px;
        text-align: center;
      }
      .navbar-nav>li>a>.glyphicon-home {
        color: $gray;
        font-size: 17px;
        line-height: 35px;
      }
      nav.navbar-default .navbar-nav>li>a:hover,
      nav.navbar-default .navbar-nav>li>a:focus {
        color: $primary-green;
        background-color: $nav-gray-hover;
        transform: translateZ(0);
        transition-duration: 0.3s;
      }
      nav.navbar-default .navbar-nav>.active>a,
      nav.navbar-default .navbar-nav>.active>a:hover,
      nav.navbar-default .navbar-nav>.active>a:focus {
        color: $primary-green;
        background-color: $nav-gray-hover;
      }
      nav.navbar-default .navbar-toggle {
        border-color: #5eb4ff;
      }
      nav.navbar-default .navbar-toggle:hover,
      nav.navbar-default .navbar-toggle:focus {
        background-color: #5eb4ff;
      }
      nav.navbar-default .navbar-toggle .icon-bar {
        background-color: #5eb4ff;
      }
      nav.navbar-default .navbar-toggle:hover .icon-bar,
      nav.navbar-default .navbar-toggle:focus .icon-bar {
        background-color: #000000;
      }
    }
}
.body_class {
  background-color: $nav-gray-hover;
  .main {
    .thumbnail {
      padding: 0;
      .caption {
        padding:0;
        h3 {
          margin-bottom: 1em;
        }
        p{
           padding: 1em;
        }
      }
    }
  }
  .thumbnail {
    -webkit-box-shadow: 0px 1px 10px 2px rgba(207,207,207,1);
    -moz-box-shadow: 0px 1px 10px 2px rgba(207,207,207,1);
    box-shadow: 0px 1px 10px 2px rgba(207,207,207,1);
    h3.home-h3 {
      background-color: $primary-green;
      color: $yellow;
      padding:.5em;
      margin: 0;
    }
  }
  .breather {
    padding: 3em;
  }
}
.spacing {
  padding-top: 20px;
}
.sidebar {
  h3 {
    font-weight: bold;
    padding: 10px 15px;
    background-color: $primary-green;
    color: $yellow;
    margin-top: 0;
    margin-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .thumbnail {
    padding: 0;
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 10px 2px rgba(207,207,207,1);
    -moz-box-shadow: 0px 1px 10px 2px rgba(207,207,207,1);
    box-shadow: 0px 1px 10px 2px rgba(207,207,207,1);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    .list-group {
      margin-bottom: 0;
    }
  }
  .active,
  .active:hover {
      z-index: 2;
      color: #fff;
      background-color: $nav-gray-hover;
      border-color: $nav-gray-hover;
  }
  .list-group-item {
    background-color: transparent;
    border-left: none;
    border-right: none;
    border-color: #D0D0D0;
  }
  .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  a.list-group-item:hover {
    background-color: $lightyellow;
    color: $primary-green;
    -webkit-transition: .5s; /* For Safari 3.1 to 6.0 */
    transition: .5s;
  }
  .btn-info {
    background-color: $yellow;
    border: none;
    color: $primary-green;
  }
}

.main {
  .thumbnail {
    padding: 0;
    a {
      text-decoration: none;
      .caption {
        padding: 0;
        h3 {
          background-color: $primary-green;
          color: #F4E54A;
          padding: .5em;
          margin: 0;
        }
        p {
          padding-left: .8em;
          padding-right: .8em;
          padding-top: .8em;
        }
      }
    }
  }
}

.col-md-12 {
  .thumbnail-testimonial {
    display: block;
    padding: 1em;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    blockquote {
      line-height: 1.5em;
      font-style: italic;
    }
  }
}



.testimonial {
    .row {
      -moz-column-width: 18em;
      -webkit-column-width: 18em;
      -moz-column-gap: 1em;
      -webkit-column-gap: 1em;
    }
    .menu-category {
      display: inline-block;
      width:  100%;
      .well {
        margin-bottom: 0;
        border-left: thin solid $primary-green;
        border-radius: 0px 0px 0px 0px;
      }
    }
    ul {
      position: relative;
      li {
        background: red;
        float: left;
      }
    }
}

.home-testimonial {
  background-color: #fff;
  padding: 3em;
}
.home-news {
  padding: 3em;
}

/** blockquote styles **/
.bq3 {
  background: url('http://i47.tinypic.com/a9l0g3.png') top left no-repeat;
  padding-left: 55px;
  line-height: 18px;
  color: #575757;
  border: none;
  margin: 1em;
  width: 70%;
  float: none;
  margin-left: auto;
  margin-right: auto;
  cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 1em;
  }
  cite:before {
    content: "\2014 \2009";
  }
}
.bq3 p {
  padding-right: 35px;
  line-height: 18px;
  background: url('http://i48.tinypic.com/eb1yrr.png') bottom right no-repeat;
  padding-bottom: 15px;
  color: #333;
  font-size: .9em;
  line-height: 1.5em;
}


footer {
  -webkit-box-shadow: 0px 0px 57px -5px rgba(0,0,0,0.67);
  -moz-box-shadow: 0px 0px 57px -5px rgba(0,0,0,0.67);
  box-shadow: 0px 0px 57px -5px rgba(0,0,0,0.67);
  position: relative;
  .container-fluid{
    background-color: $primary-green;
    .container {
      //padding: 4em 3em;
      color: $yellow;
      font-family: 'Cabin', sans-serif;
      .col-md-3 {
        padding: 4em 0;
        #menu-footer-menu {
          li {
            margin-left: 2em;
            padding-bottom: .5em;
            padding-top: .5em;
            list-style: none;
            border-bottom: .5px dotted $dark-green;
          }
        }
        .social-media {
          margin-left: 5em;
          margin-top: .5em;
          ul {
            li {
              list-style: none;
              float: left;
              padding-right: 3em;
            }
          }
        }
      }
      a {
        color: $yellow;
        font-size: 1em;
      }
      a:hover {
        text-decoration: none;
        background-color: transparent;
      }
    }
  }
  .terms {
    background-color: $dark-green;
    .container {
      padding:2em;
      p {
        text-align: center;
      }
    }
  }
}

.form-control-feedback {
  color: #ff4c4c;
}

@media only screen and (max-width : 480px) {
  .logo {
    width: 100%;
  }
  .carousel-row .carousel-fade .carousel-inner .carousel-caption {
    bottom: 10%;
  }
}

@media only screen and (min-width : 768px) {
  .carousel-row .carousel-fade .carousel-inner .carousel-caption {
    bottom: 50%;
    }
}

@media only screen and (max-width : 992px) {
  .carousel-row .carousel-fade .carousel-inner .carousel-caption {
    bottom: 15%;
    }
}


/********************************/
        /*       Fade Bs-carousel       */
        /********************************/
        .fade-carousel {
            position: relative;
            height: 40vh;
        }
        .fade-carousel .carousel-inner .item {
            height: 40vh;
        }
        .fade-carousel .carousel-indicators > li {
            margin: 0 2px;
            background-color: $primary-green;
            border-color: $primary-green;
            opacity: .4;
        }
        .fade-carousel .carousel-indicators > li.active {
            width: 10px;
            height: 10px;
            opacity: 1;
        }

        /********************************/
        /*          Hero Headers        */
        /********************************/
        .hero {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 3;
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            text-shadow: 1px 1px 0 rgba(0,0,0,.75);
            -webkit-transform: translate3d(-50%,-50%,0);
            -moz-transform: translate3d(-50%,-50%,0);
            -ms-transform: translate3d(-50%,-50%,0);
            -o-transform: translate3d(-50%,-50%,0);
            transform: translate3d(-50%,-50%,0);
        }
        .hero h1 {
            font-size: 6em;
            font-weight: bold;
            margin: 0;
            padding: 0;
        }

        .fade-carousel .carousel-inner .item .hero {
            opacity: 0;
            -webkit-transition: 2s all ease-in-out .1s;
            -moz-transition: 2s all ease-in-out .1s;
            -ms-transition: 2s all ease-in-out .1s;
            -o-transition: 2s all ease-in-out .1s;
            transition: 2s all ease-in-out .1s;
        }
        .fade-carousel .carousel-inner .item.active .hero {
            opacity: 1;
            -webkit-transition: 2s all ease-in-out .1s;
            -moz-transition: 2s all ease-in-out .1s;
            -ms-transition: 2s all ease-in-out .1s;
            -o-transition: 2s all ease-in-out .1s;
            transition: 2s all ease-in-out .1s;
        }

        /********************************/
        /*            Overlay           */
        /********************************/
        .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 2;
            background-color: #080d15;
            opacity: .3;
        }

        /********************************/
        /*          Custom Buttons      */
        /********************************/
        .btn.btn-lg {padding: 10px 40px;}
        .btn.btn-hero,
        .btn.btn-hero:hover,
        .btn.btn-hero:focus {
            color: #f5f5f5;
            background-color: $primary-green;
            border-color: $primary-green;
            outline: none;
            margin: 20px auto;
        }

        /********************************/
        /*       Slides backgrounds     */
        /********************************/
        .fade-carousel .slides .item-slide {
            height: 100vh;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
        .fade-carousel .slides .item-slide {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: .8;
            background: white; /* For browsers that do not support gradients */
            background: -webkit-linear-gradient(left top, white, #1f8d84); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(bottom right, white, #1f8d84); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(bottom right, white, #1f8d84); /* For Firefox 3.6 to 15 */
            background: linear-gradient(to bottom right, white, #1f8d84); /* Standard syntax */
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }

        /********************************/
        /*          Media Queries       */
        /********************************/
        @media screen and (min-width: 980px){
            .hero { width: 980px; }
        }
        @media screen and (max-width: 640px){
            .hero h1 { font-size: 4em; }
        }
.carousel-inner {
  height: 100%;
}

.accreditaion-row {
  margin: 0 auto;
  text-align: center;
  .accreditaion-logos {
    text-align: center;
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 0;
    li {
      margin: 2em;
      float: left;
      a {
        img {
          height: 3em;
        }
      }
    }
  }
}

.col-md-12 {
  .thumbnail-offer {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    blockquote {
      line-height: 1.5em;
      font-style: italic;
    }
  }
}

.offers {
  .thumbnail-offer {
      min-height: 10em;
      background-repeat: no-repeat;
      background-position: right;
      .caption {
        width: 65%;
        margin-left: auto;
        margin-right: auto;
      }
  }
}

.push-to-bottom {
  background-color: $red;
  height: auto;
  bottom: 0;
  position: absolute;
}

#container {
    position: relative;
}
#copyright {
    position: absolute;
    bottom: 0;
}

.offer {
  position: absolute;
  top: -20px;
  left: 11px;
  width: 91%;
}

.spacing-bottom {
  margin-bottom: 1.5em;
}

.panel-default > .panel-heading {
  //background-color: $nav-gray-hover;
  color: $primary-green;
}

table {
  margin-top: 5em;
  tbody {
  tr {
    td {
      border-top: 1px solid transparent !important;
      }
    }
  }
}

.post-type-archive-service {
  .thumbnail {
      margin-bottom: 0;
      border: 0;
      border-radius: 0;
      -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
      -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
      -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
      box-shadow: 0 5px 15px rgba(0,0,0,0);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
  }
  .button-link {
    margin-bottom: 1em;
    a {
      color: #fff;
      display: block;
      div.first {
        background-color: $primary-green;
        padding: .8em;
        p {
          margin-bottom: 0;
        }
      }
      div.second {
        background-color: $red;
        padding: .8em;
        -webkit-box-shadow: 0 3px 2px -2px gray;
        -moz-box-shadow: 0 3px 2px -2px gray;
        box-shadow: 0 3px 2px -2px gray;
        p {
          margin-bottom: 0;
        }
      }
    }
  }
}

.single .slide {
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}
.carousel-row {
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
}

.map-responsive{
    overflow:hidden;
    padding-bottom:30%;
    position:relative;
    //height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height: 100%;
    width:100%;
    position:absolute;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

div.video-embed iframe {
  width: 100%;
  height: 450px;
  padding-right: 3em;
}

blockquote.bq3 {
  iframe {
    width: 100%;
  }
}

footer {
  address {
    font-size: 1.3em;
    letter-spacing: 1px;
  }
}

#wpcf7-f1920-o1, #wpcf7-f1834-o1 {
    form input {
      width:97.4%;
    	height:30px;
    	padding:5px 10px;
    	font-size: 12px;
    	color:$primary-green;
    	letter-spacing:1px;
    	background: #FFF;
    	border:2px solid #FFF;
      -webkit-transition:all .1s ease-in-out;
    	-moz-transition:all .1s ease-in-out;
    	-ms-transition:all .1s ease-in-out;
    	-o-transition:all .1s ease-in-out;
    	transition:all .1s ease-in-out;
    }
    form textarea {
      height: 8em;
      width: 97.4%;
      padding:5px 10px;
      color:$primary-green;
    }
    span[role="alert"] {
      background-color: #F0F0F0;
      padding: .5em;
      width: 97.4%;
      border: 1px solid #f00;
      margin-top: 5px;
    }
    // div[role="alert"] {
    //   display: none !important;
    // }
}

.visuallyHidden {
  display: none;
}

.thumbnail {
  ul {
    padding-left: 1.5em;
  }
}

.main {
  .thumbnail {
    .caption {
      h2 {
        padding: 0 .5em;
      }
      ul {
        margin: 0 1em;
      }
    }
  }
}


@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 680px) {
    p {
      word-wrap: break-word;
    }
    .main {
      padding-left: 0;
      padding-right: 0;
    }
    .bq3::first-letter {
      padding-left: 2.8em;
    }
    .bq3 {
      //opacity: 0.5;
      padding: .5em 0 0 0;
      margin: 0;
      width: 100%;
      background: url(http://i47.tinypic.com/a9l0g3.png) top left no-repeat 0.2;
      margin-bottom: 4em;
      p {
        text-indent: 4em;
        padding-right: 0;
        padding-top: .5em;
      }
    }
    div.video-embed {
      iframe {
        padding-right: 0;
        height: 12em;
      }
    }
    blockquote {
      p:nth-of-type(2) {
        display: none;
      }
    }
    div.home-testimonial {
      a.btn.btn-hero {
        margin: 0;
        width: 100%;
      }
    }
    #menu-footer-menu {
      li {
      margin-left: 0 !important;
      text-align: center;
      font-size: 1.5em;
      }
    }
    footer {
      .col-md-3 {
        padding: 2em 0 !important;
      }
    }
    .accreditaion-logos {
      li {
        a {
          img {
            width: 12em;
            height: auto !important;
          }
        }
      }
    }
}

img.alignleft {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}
img.alignright {
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
}

@media (max-width: 992px) {
  .main {
    padding: 0;
  }
  .sidebar {
    padding: 0;
    margin-bottom: 1.5em;
  }
}
@media (max-width: 767px) {
  #menu-main-menu {
    margin-left: 0;
    margin-right: 0;
    width:100%;
  }
  nav > .collapse {
    padding-left: 0;
    padding-right: 0;
  }
}

.thumbnail-testimonial {
  img {
    width: 100%;
    height: auto;
  }
}

.main .thumbnail .caption .home-h2 {
  background-color: $primary-green;
  color: $yellow;
  padding:.3em;
  margin: 0;
}