.full-width {
  width: 100%; }

body {
  background-color: #eee; }

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0; }

header {
  color: #fff; }
  header .container-fluid {
    background-color: #1f8d84;
    padding-top: 1.5em; }
    header .container-fluid address strong {
      font-size: 2em;
      letter-spacing: 1px; }
    header .container-fluid nav {
      text-transform: uppercase;
      margin: 0px;
      background-color: #F4E54A; }
      header .container-fluid nav ul {
        list-style: none; }
    header .container-fluid nav.navbar-default .navbar-brand {
      color: #777777; }
    header .container-fluid nav.navbar-default {
      font-size: 16px;
      font-weight: 600;
      background-color: #F4E54A;
      border-width: 0px;
      border-radius: 0px; }
    header .container-fluid nav.navbar-default .navbar-nav {
      float: none;
      margin: 0 auto;
      display: table;
      table-layout: fixed; }
    header .container-fluid nav.navbar-default .navbar-nav > li {
      color: red; }
    header .container-fluid nav.navbar-default .navbar-nav > li > a {
      font-stretch: expanded;
      background-color: rgba(248, 248, 248, 0);
      line-height: 37px;
      text-align: center; }
    header .container-fluid .navbar-nav > li > a > .glyphicon-home {
      color: #777777;
      font-size: 17px;
      line-height: 35px; }
    header .container-fluid nav.navbar-default .navbar-nav > li > a:hover,
    header .container-fluid nav.navbar-default .navbar-nav > li > a:focus {
      color: #1f8d84;
      background-color: #eee;
      transform: translateZ(0);
      transition-duration: 0.3s; }
    header .container-fluid nav.navbar-default .navbar-nav > .active > a,
    header .container-fluid nav.navbar-default .navbar-nav > .active > a:hover,
    header .container-fluid nav.navbar-default .navbar-nav > .active > a:focus {
      color: #1f8d84;
      background-color: #eee; }
    header .container-fluid nav.navbar-default .navbar-toggle {
      border-color: #5eb4ff; }
    header .container-fluid nav.navbar-default .navbar-toggle:hover,
    header .container-fluid nav.navbar-default .navbar-toggle:focus {
      background-color: #5eb4ff; }
    header .container-fluid nav.navbar-default .navbar-toggle .icon-bar {
      background-color: #5eb4ff; }
    header .container-fluid nav.navbar-default .navbar-toggle:hover .icon-bar,
    header .container-fluid nav.navbar-default .navbar-toggle:focus .icon-bar {
      background-color: #000000; }

.body_class {
  background-color: #eee; }
  .body_class .main .thumbnail {
    padding: 0; }
    .body_class .main .thumbnail .caption {
      padding: 0; }
      .body_class .main .thumbnail .caption h3 {
        margin-bottom: 1em; }
      .body_class .main .thumbnail .caption p {
        padding: 1em; }
  .body_class .thumbnail {
    -webkit-box-shadow: 0px 1px 10px 2px #cfcfcf;
    -moz-box-shadow: 0px 1px 10px 2px #cfcfcf;
    box-shadow: 0px 1px 10px 2px #cfcfcf; }
    .body_class .thumbnail h3.home-h3 {
      background-color: #1f8d84;
      color: #F4E54A;
      padding: .5em;
      margin: 0; }
  .body_class .breather {
    padding: 3em; }

.spacing {
  padding-top: 20px; }

.sidebar h3 {
  font-weight: bold;
  padding: 10px 15px;
  background-color: #1f8d84;
  color: #F4E54A;
  margin-top: 0;
  margin-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }
.sidebar .thumbnail {
  padding: 0;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 10px 2px #cfcfcf;
  -moz-box-shadow: 0px 1px 10px 2px #cfcfcf;
  box-shadow: 0px 1px 10px 2px #cfcfcf;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }
  .sidebar .thumbnail .list-group {
    margin-bottom: 0; }
.sidebar .active,
.sidebar .active:hover {
  z-index: 2;
  color: #fff;
  background-color: #eee;
  border-color: #eee; }
.sidebar .list-group-item {
  background-color: transparent;
  border-left: none;
  border-right: none;
  border-color: #D0D0D0; }
.sidebar .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }
.sidebar .list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }
.sidebar a.list-group-item:hover {
  background-color: #FFFFE0;
  color: #1f8d84;
  -webkit-transition: .5s;
  /* For Safari 3.1 to 6.0 */
  transition: .5s; }
.sidebar .btn-info {
  background-color: #F4E54A;
  border: none;
  color: #1f8d84; }

.main .thumbnail {
  padding: 0; }
  .main .thumbnail a {
    text-decoration: none; }
    .main .thumbnail a .caption {
      padding: 0; }
      .main .thumbnail a .caption h3 {
        background-color: #1f8d84;
        color: #F4E54A;
        padding: .5em;
        margin: 0; }
      .main .thumbnail a .caption p {
        padding-left: .8em;
        padding-right: .8em;
        padding-top: .8em; }

.col-md-12 .thumbnail-testimonial {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out; }
  .col-md-12 .thumbnail-testimonial blockquote {
    line-height: 1.5em;
    font-style: italic; }

.testimonial .row {
  -moz-column-width: 18em;
  -webkit-column-width: 18em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em; }
.testimonial .menu-category {
  display: inline-block;
  width: 100%; }
  .testimonial .menu-category .well {
    margin-bottom: 0;
    border-left: thin solid #1f8d84;
    border-radius: 0px 0px 0px 0px; }
.testimonial ul {
  position: relative; }
  .testimonial ul li {
    background: red;
    float: left; }

.home-testimonial {
  background-color: #fff;
  padding: 3em; }

.home-news {
  padding: 3em; }

/** blockquote styles **/
.bq3 {
  background: url("http://i47.tinypic.com/a9l0g3.png") top left no-repeat;
  padding-left: 55px;
  line-height: 18px;
  color: #575757;
  border: none;
  margin: 1em;
  width: 70%;
  float: none;
  margin-left: auto;
  margin-right: auto; }
  .bq3 cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 1em; }
  .bq3 cite:before {
    content: "\2014 \2009"; }

.bq3 p {
  padding-right: 35px;
  line-height: 18px;
  background: url("http://i48.tinypic.com/eb1yrr.png") bottom right no-repeat;
  padding-bottom: 15px;
  color: #333;
  font-size: .9em;
  line-height: 1.5em; }

footer {
  -webkit-box-shadow: 0px 0px 57px -5px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 0px 0px 57px -5px rgba(0, 0, 0, 0.67);
  box-shadow: 0px 0px 57px -5px rgba(0, 0, 0, 0.67);
  position: relative; }
  footer .container-fluid {
    background-color: #1f8d84; }
    footer .container-fluid .container {
      color: #F4E54A;
      font-family: 'Cabin', sans-serif; }
      footer .container-fluid .container .col-md-3 {
        padding: 4em 0; }
        footer .container-fluid .container .col-md-3 #menu-footer-menu li {
          margin-left: 2em;
          padding-bottom: .5em;
          padding-top: .5em;
          list-style: none;
          border-bottom: 0.5px dotted #114C48; }
        footer .container-fluid .container .col-md-3 .social-media {
          margin-left: 5em;
          margin-top: .5em; }
          footer .container-fluid .container .col-md-3 .social-media ul li {
            list-style: none;
            float: left;
            padding-right: 3em; }
      footer .container-fluid .container a {
        color: #F4E54A;
        font-size: 1em; }
      footer .container-fluid .container a:hover {
        text-decoration: none;
        background-color: transparent; }
  footer .terms {
    background-color: #114C48; }
    footer .terms .container {
      padding: 2em; }
      footer .terms .container p {
        text-align: center; }

.form-control-feedback {
  color: #ff4c4c; }

@media only screen and (max-width: 480px) {
  .logo {
    width: 100%; }

  .carousel-row .carousel-fade .carousel-inner .carousel-caption {
    bottom: 10%; } }
@media only screen and (min-width: 768px) {
  .carousel-row .carousel-fade .carousel-inner .carousel-caption {
    bottom: 50%; } }
@media only screen and (max-width: 992px) {
  .carousel-row .carousel-fade .carousel-inner .carousel-caption {
    bottom: 15%; } }
/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
  position: relative;
  height: 40vh; }

.fade-carousel .carousel-inner .item {
  height: 40vh; }

.fade-carousel .carousel-indicators > li {
  margin: 0 2px;
  background-color: #1f8d84;
  border-color: #1f8d84;
  opacity: .4; }

.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1; }

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0); }

.hero h1 {
  font-size: 6em;
  font-weight: bold;
  margin: 0;
  padding: 0; }

.fade-carousel .carousel-inner .item .hero {
  opacity: 0;
  -webkit-transition: 2s all ease-in-out .1s;
  -moz-transition: 2s all ease-in-out .1s;
  -ms-transition: 2s all ease-in-out .1s;
  -o-transition: 2s all ease-in-out .1s;
  transition: 2s all ease-in-out .1s; }

.fade-carousel .carousel-inner .item.active .hero {
  opacity: 1;
  -webkit-transition: 2s all ease-in-out .1s;
  -moz-transition: 2s all ease-in-out .1s;
  -ms-transition: 2s all ease-in-out .1s;
  -o-transition: 2s all ease-in-out .1s;
  transition: 2s all ease-in-out .1s; }

/********************************/
/*            Overlay           */
/********************************/
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #080d15;
  opacity: .3; }

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {
  padding: 10px 40px; }

.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
  color: #f5f5f5;
  background-color: #1f8d84;
  border-color: #1f8d84;
  outline: none;
  margin: 20px auto; }

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .item-slide {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.fade-carousel .slides .item-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .8;
  background: white;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, white, #1f8d84);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, white, #1f8d84);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, white, #1f8d84);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, white, #1f8d84);
  /* Standard syntax */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px) {
  .hero {
    width: 980px; } }
@media screen and (max-width: 640px) {
  .hero h1 {
    font-size: 4em; } }
.carousel-inner {
  height: 100%; }

.accreditaion-row {
  margin: 0 auto;
  text-align: center; }
  .accreditaion-row .accreditaion-logos {
    text-align: center;
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 0; }
    .accreditaion-row .accreditaion-logos li {
      margin: 2em;
      float: left; }
      .accreditaion-row .accreditaion-logos li a img {
        height: 3em; }

.col-md-12 .thumbnail-offer {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out; }
  .col-md-12 .thumbnail-offer blockquote {
    line-height: 1.5em;
    font-style: italic; }

.offers .thumbnail-offer {
  min-height: 10em;
  background-repeat: no-repeat;
  background-position: right; }
  .offers .thumbnail-offer .caption {
    width: 65%;
    margin-left: auto;
    margin-right: auto; }

.push-to-bottom {
  background-color: #D9553F;
  height: auto;
  bottom: 0;
  position: absolute; }

#container {
  position: relative; }

#copyright {
  position: absolute;
  bottom: 0; }

.offer {
  position: absolute;
  top: -20px;
  left: 11px;
  width: 91%; }

.spacing-bottom {
  margin-bottom: 1.5em; }

.panel-default > .panel-heading {
  color: #1f8d84; }

table {
  margin-top: 5em; }
  table tbody tr td {
    border-top: 1px solid transparent !important; }

.post-type-archive-service .thumbnail {
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 5px 15px transparent;
  -moz-box-shadow: 0 5px 15px transparent;
  -o-box-shadow: 0 5px 15px transparent;
  box-shadow: 0 5px 15px transparent; }
.post-type-archive-service .button-link {
  margin-bottom: 1em; }
  .post-type-archive-service .button-link a {
    color: #fff;
    display: block; }
    .post-type-archive-service .button-link a div.first {
      background-color: #1f8d84;
      padding: .8em; }
      .post-type-archive-service .button-link a div.first p {
        margin-bottom: 0; }
    .post-type-archive-service .button-link a div.second {
      background-color: #D9553F;
      padding: .8em;
      -webkit-box-shadow: 0 3px 2px -2px gray;
      -moz-box-shadow: 0 3px 2px -2px gray;
      box-shadow: 0 3px 2px -2px gray; }
      .post-type-archive-service .button-link a div.second p {
        margin-bottom: 0; }

.single .slide {
  background-size: cover;
  background-position: center;
  opacity: 0.8; }

.carousel-row {
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9); }

.map-responsive {
  overflow: hidden;
  padding-bottom: 30%;
  position: relative; }

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000; }

div.video-embed iframe {
  width: 100%;
  height: 450px;
  padding-right: 3em; }

blockquote.bq3 iframe {
  width: 100%; }

footer address {
  font-size: 1.3em;
  letter-spacing: 1px; }

#wpcf7-f1920-o1 form input, #wpcf7-f1834-o1 form input {
  width: 97.4%;
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  color: #1f8d84;
  letter-spacing: 1px;
  background: #FFF;
  border: 2px solid #FFF;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out; }
#wpcf7-f1920-o1 form textarea, #wpcf7-f1834-o1 form textarea {
  height: 8em;
  width: 97.4%;
  padding: 5px 10px;
  color: #1f8d84; }
#wpcf7-f1920-o1 span[role="alert"], #wpcf7-f1834-o1 span[role="alert"] {
  background-color: #F0F0F0;
  padding: .5em;
  width: 97.4%;
  border: 1px solid #f00;
  margin-top: 5px; }

/*# sourceMappingURL=main.css.map */
